.window {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: limegreen;
    transition: all 0.5s ease;
    animation: showPopup 1s;
    background: rgba(20, 30, 100, 0.5);
}

.formWrapper {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 200px;
    left: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(50deg, black 10%, gray 90%);
    border: 2px solid black;
    border-radius: 10px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error {
    color: #f9002f;
}

@keyframes showPopup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}


